@await Component.InvokeAsync("FirstArea")
<section class="wedo py-5" id="about">
    <div class="container py-lg-5">
        @await Component.InvokeAsync("SecondArea")
        @await Component.InvokeAsync("ThirdArea")
        @await Component.InvokeAsync("ForthArea")
    </div>
</section>
<!-- //what we do -->
<!-- news -->
@await Component.InvokeAsync("NewsArea")
<!-- //news -->
<!-- footer-top -->
@await Component.InvokeAsync("FifthArea")