@using Domain.Entities
@model SecondArea   

<div class="wedo-top text-center">
    <span class="fa fa-ticket we_tp"></span>
    <h3 class="w3_head">@Model.Title </h3>
    <p class="main_p mt-4 mb-4 pt-2 text-center mx-auto">@Model.SubTitle</p>
</div>