@using Domain.Entities
@model IQueryable<NewsArea>

<section class="news text-center py-5" id="news">
    <div class="container py-lg-5">
        <h3 class="w3_head">Integer porttitor <span>mollisar</span> </h3>
        <div class="row news-grids mt-5 text-center">
            @foreach (var item in Model)
            {   
                <div class="col-md-6 newsgrid1">
                    <div class="newsgrid_tp new_grd">
                        <img src="images/g1.jpg" alt="news image" class="img-fluid">
                        <div class="news_bt">
                            <h4>@item.Title</h4>
                            <p class="mt-4">@item.SubTitle</p>
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
</section>
