
<section class="news text-center py-5" id="news">
    <div class="container py-lg-5">
        <h3 class="w3_head">Integer porttitor <span>mollisar</span> </h3>
        <div class="row news-grids mt-5 text-center">
            <div class="col-md-6 newsgrid1">
                <div class="newsgrid_tp new_grd">
                    <img src="images/g1.jpg" alt="news image" class="img-fluid">
                    <div class="news_bt">
                        <h4>Lorem ipsum</h4>
                        <p class="mt-4"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.sed do eiusmod tempor </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-md-0 mt-5 newsgrid2">
                <div class="newsgrid_tp new_grd1">
                    <img src="images/g2.jpg" alt="news image" class="img-fluid">
                    <div class="news_bt">
                        <h4>Dolor sit</h4>
                        <p class="mt-4"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.sed do eiusmod tempor</p>
                    </div>
                </div>
            </div>


            <div class="col-md-6 mt-md-5 mt-5 newsgrid1">
                <div class="newsgrid_tp new_grd">
                    <img src="images/g3.jpg" alt="news image" class="img-fluid">
                    <div class="news_bt">
                        <h4>Eius eum </h4>
                        <p class="mt-4">  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.sed do eiusmod tempor </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-md-5 mt-5 newsgrid2">
                <div class="newsgrid_tp new_grd1">
                    <img src="images/g4.jpg" alt="news image" class="img-fluid">
                    <div class="news_bt">
                        <h4>Consectetur</h4>
                        <p class="mt-4"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.sed do eiusmod tempor </p>
                    </div>
                </div>
            </div>
            <div class="new_bt mx-auto mt-5">
                <a href="index.html" class="news-button btn">SEE MORE </a>
            </div>
        </div>

    </div>
</section>
