@using Domain.Entities
@model IQueryable<ForthArea>

<div class="what_you py-5" id="services">
    <div class="row about-info-grids text-center pt-lg-5">
        @foreach (var item in Model)
        {
            <div class="col-md-4 about-info about-info1">
                <span class="fa fa-check"></span>
                <h4>@item.Title</h4>
                <p>@item.SubTitle</p>
            </div>
        }


    </div>
</div>