@using Domain.Entities
@model ThirdArea

<div class="augue">
    <div class="row about-info-augue">
        <div class="col-lg-8 about-aug about-aug1">
            <h4>@Model.Title</h4>
            <p>@Model.SubTitle</p>
            <a href="#news" class="btn button-style mt-sm-5 mt-4 scroll">@Model.ButtonTitle</a>
        </div>
        <div class="col-lg-4 about-aug about-aug2">
            <ul class="featured-icons">
                <li><span class="fa fa-cog mb-5"></span></li>
                <li><span class="fa fa-laptop mb-5"></span></li>
                <li><span class="fa fa-lock mb-5"></span></li>
                <li><span class="fa fa-cloud mb-5"></span></li>
                <li><span class="fa fa-volume-up"></span></li>
                <li><span class="fa fa-clock-o"></span></li>
            </ul>
        </div>
    </div>
</div>